h1{
	font-size:48px;
    font-family:arial,sans-serif;
	margin:10px;
}
p{
	font-size:20px;
	margin:20px;
}
input{
    margin:10px;
}
.navbar{
	background-color: white;
	float: right;
	margin-top: 10px;
}
.navbar ul li{
	display: inline;
	color: #30669c;
}
.navbar ul li a:hover{
	color: #18AFE0;
}
.navbar a{
	text-decoration:none;	
	font-family:sans-serif;
	color:#222222;
	padding:25px 5px 10px 8px;
	font-size:15px;
	vertical-align:center;
	align:right;
	margin:10px;
}
.navbar a:hover{
	color:red;
}
.page {
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    width: 960px;
    padding-top: 85px;
    background-color:white;
}
.content{
    width:70%;
    verticl-align:center;
}
.scores{
    background-color: red;
    color: white;
    float:right;
    border:1px solid yellow;
    border-radius:8px;
    height:180px;
    width: 120px;
    font-size:24px;
}
.quiz {
    width: 300px;
    height:auto;
    display: inline-block;
    position: relative;
    float:left;
    margin: 0 10px;
    padding: 10px;
    border: 1px solid #e8e8e8;
    font-family:arial;
    border-radius: 3px;
    background-color: #e8e8e8;
}
.title {
    font-size: 36px;
    font-weight: bold;
    color: #cc0000;
    margin-top: 14px;
    margin-bottom: 14px;
    margin-right:20px;    
}
#s0, #s1, #s2, #s3, #s4, #s5{
    font-family: arial, sans-serif;
    font-size:24px;
    margin:12px;
}
#gnu{
    float:right;
    margin:30px;
}
.answer{
    font-family: arial, sans-serif;    
    font-size: 24px;
    margin:12px;
}
.logo{
    font-size:36px;
    font-style:bold;
    margin:12px;
    font-family:serif;
    color:#FE2266;
}
#add{
    font-size:16px;
    height: 24px;
    width: 90px;
    border-radius:3px;
    margin: 12px;
}